body {
    padding: 20px;
    background: #f9f9f9;
}
.newsDetailCard {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.newsDetailCard button {
    border: none;
    background: var(--header-footer);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.newsDetailCard button:hover {
    background: var(--hover);
    border-radius: 10px;
}
.newsDetailCard img {
    display: block;
    width: 70%;
    margin: 20px auto;
    border-radius: 6px;
}
.newsDetailCard h1 {margin-top: 20px;}
.newsDetailCard p {margin-top: -5px; white-space: pre-line;}
.newsDetailCard .editor {margin-top: 50px;}
