* {margin: 0; padding: 0; text-decoration: none; box-sizing: border-box; list-style: none;}
html, body {overscroll-behavior: none; background: var(--white);}
main {padding: 0 5%;}
.gap {
    width: 100%;
    height: 100px;
}

:root {
    --header-footer: #1E1F25;
    --background-cards: #F1F3F6;
    --hover: #3A6FF8;
    --white: #f9f9f9;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 100;}
}

@keyframes fadeUp {
    0% {opacity: 0; transform: translateY(100%);}
    100% {opacity: 1; transform: translateY(0);}
}

@keyframes fadeDown {
    0% {opacity: 0; transform: translateY(-100%);}
    100% {opacity: 1; transform: translateY(0);}
}