h1, h3 {color: var(--header-footer); text-align: center}
#photoForm {
    padding: 100px 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#name, #year, #social, #title, #description, button {
    width: 45%;
    padding: 20px 10px;
    margin:  -5px 0;
    border-radius: 15px;
    border: none;
}
#name {margin-top: 20px;}
#description {height: 200px;}
#file {
    width: 45%;
    align-items: start;
    margin: 10px 0;
}
.consent {
    width: 45%;
    display: flex;
}
#consent {margin-right: 10px;}
button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background: #3A6FF8;
    border: none;
    border-radius: 20px;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    background: #24469c;
}

@media (max-width: 768px) {
    #name, #year, #social, #title, #description, button, #file, .consent {
        width: 80%;
    }
}